#n-498ae0a2-e64b-4f17-bd17-a2e2339fc3b5 {
    top: 64px;
    left: 15px;
    width: 1060px;
    height: 257px;
    animation-duration: 1s;
}

#n-eb775b20-4dd3-4015-935c-1f0c43f5fb1d {
    height: 65px;
    animation-duration: 1s;
    top: 1px;
    left: 127px;
    width: 887px;
}

#n-4ab8260e-94e1-4528-a5ab-d6849c56a21b {
    top: 100px;
    left: 205px;
    width: 731px;
    height: 237px;
    animation-duration: 1s;
}

#n-e294d1ec-c428-4ea1-9724-bb07ba17f0fb {
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    line-height: 110px;
    font-size: 100px;
}

#n-929d1359-af95-45dc-90c9-603d3739ad0f {
    color: rgba(33, 33, 33, 1);
    font-size: 50px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    line-height: 60px;
}

#n-800ab394-ed65-4690-b896-de1d47df9335 {
    line-height: 60px;
    color: rgba(33, 33, 33, 1);
    font-size: 50px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
}

#n-f107ea2b-0684-4798-88cf-f768c3b6c5ca {
    line-height: 110px;
    font-size: 100px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
}

#n-009a5a31-8b0a-40c0-832d-aeba1a0e5a45 {
    width: 1140px;
    height: 1374px;
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#n-9ef34434-c4b4-48eb-997a-9d6649c92124 {
    animation-duration: 1s;
    top: 709px;
    left: 431px;
    width: 300px;
    height: 107px;
}

#n-ba44d84b-b584-4331-8045-4cb4a07aa9a9 {
    font-weight: 400;
    line-height: 110px;
    font-size: 100px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
}

#n-4c888ea2-6b3a-49d3-ae55-7ab9b3a62640 {
    color: rgba(33, 33, 33, 1);
    font-size: 50px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    line-height: 60px;
}

#n-cbf488e5-7ccb-4ca5-9578-1aef312ab1b1 {
    top: 1712px;
    left: 442px;
    width: 238px;
    height: 226px;
}

#n-ab5ed4c1-ccaf-4220-97bb-645cf727afb6 {
    top: 794px;
    height: 139px;
    font-size: 60px;
    left: 111px;
    width: 919px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    line-height: 70px;
    animation-duration: 1s;
}

#n-81644bd5-9601-4836-8a4c-fba883fd22db {
    color: rgba(33, 33, 33, 1);
    font-size: 50px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    line-height: 60px;
}

#n-7082af13-6e15-454c-a021-03aca37d4cd1 {
    top: 1000px;
    --normal-color: rgba(33, 33, 33, 1);
    border-top-right-radius: 20px;
    font-style: normal;
    font-weight: 400;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    --normal-background-color: rgba(255, 255, 255, 1);
    border-bottom-right-radius: 20px;
    left: 235px;
    width: 672px;
    height: 115px;
    font-family: "Zen Kurenaido", var(--sans-serif);
    --normal-border: 1px solid rgba(33, 33, 33, 1);
    --hover-background-color: rgba(238, 238, 238, 1);
    font-size: 50px;
    line-height: 40px;
    animation-duration: 1s;
}

#n-c6f125f2-9786-4ee4-ac13-9fad671ebb0b {
    overflow: hidden;
}

#n-06f6c794-5a18-46ff-9143-e216cb1bc980 {
    top: 0px;
    left: -259px;
    width: 1183px;
    height: 1906px;
    transform: rotate(58deg);
}

#n-e1f290f0-3488-4df6-ba5a-12602ab94e00 {
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    line-height: 110px;
    font-size: 100px;
    font-style: normal;
}

#n-af9ede19-2908-42b3-b699-586168a22eab {
    font-weight: 400;
    line-height: 70px;
    top: 358px;
    left: 80px;
    width: 980px;
    font-size: 60px;
    height: 278px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    animation-duration: 1s;
}

#n-44af879c-bfc8-4893-8dd8-8d375fdf0540 {
    background-image: var(--bg-1920, var(--background-image));
}

@media screen and (max-width: 1199px) {
    #n-4c888ea2-6b3a-49d3-ae55-7ab9b3a62640 {
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
    }

    #n-7082af13-6e15-454c-a021-03aca37d4cd1 {
        --hover-background-color: rgba(238, 238, 238, 1);
        --normal-background-color: rgba(255, 255, 255, 1);
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 40px;
        --normal-color: rgba(33, 33, 33, 1);
        --normal-border: 1px solid rgba(33, 33, 33, 1);
        border-bottom-right-radius: 20px;
        top: 1000px;
        width: 672px;
        animation-duration: 1s;
        border-top-left-radius: 20px;
        height: 115px;
        font-size: 50px;
        border-bottom-left-radius: 20px;
        left: 235px;
        font-style: normal;
        font-weight: 400;
        border-top-right-radius: 20px;
    }

    #n-4ab8260e-94e1-4528-a5ab-d6849c56a21b {
        width: 100px;
        height: 237px;
        animation-duration: 1s;
        top: 1533px;
        left: 205px;
    }

    #n-06f6c794-5a18-46ff-9143-e216cb1bc980 {
        top: 0px;
        left: -259px;
        width: 1183px;
        height: 1906px;
        transform: rotate(58deg);
    }

    #n-eb775b20-4dd3-4015-935c-1f0c43f5fb1d {
        height: 65px;
        animation-duration: 1s;
        top: 1417px;
        left: 127px;
        width: 887px;
    }

    #n-929d1359-af95-45dc-90c9-603d3739ad0f {
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
    }

    #n-ba44d84b-b584-4331-8045-4cb4a07aa9a9 {
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
        font-size: 100px;
        font-style: normal;
    }

    #n-81644bd5-9601-4836-8a4c-fba883fd22db {
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
    }

    #n-cbf488e5-7ccb-4ca5-9578-1aef312ab1b1 {
        top: 1712px;
        left: 442px;
        width: 238px;
        height: 226px;
    }

    #n-af9ede19-2908-42b3-b699-586168a22eab {
        height: 278px;
        font-size: 60px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
        top: 358px;
        width: 980px;
        font-weight: 400;
        line-height: 70px;
        left: 80px;
    }

    #n-c6f125f2-9786-4ee4-ac13-9fad671ebb0b {
        overflow: hidden;
    }

    #n-9ef34434-c4b4-48eb-997a-9d6649c92124 {
        width: 300px;
        height: 107px;
        animation-duration: 1s;
        top: 709px;
        left: 431px;
    }

    #n-800ab394-ed65-4690-b896-de1d47df9335 {
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
    }

    #n-ab5ed4c1-ccaf-4220-97bb-645cf727afb6 {
        font-size: 60px;
        font-style: normal;
        line-height: 70px;
        top: 794px;
        width: 919px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        animation-duration: 1s;
        left: 111px;
        height: 139px;
    }

    #n-498ae0a2-e64b-4f17-bd17-a2e2339fc3b5 {
        height: 257px;
        animation-duration: 1s;
        top: 64px;
        left: 15px;
        width: 1060px;
    }

    #n-e294d1ec-c428-4ea1-9724-bb07ba17f0fb {
        font-weight: 400;
        line-height: 110px;
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
    }

    #n-f107ea2b-0684-4798-88cf-f768c3b6c5ca {
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
    }

    #n-e1f290f0-3488-4df6-ba5a-12602ab94e00 {
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
        font-size: 100px;
        font-style: normal;
    }

    #n-44af879c-bfc8-4893-8dd8-8d375fdf0540 {
        background-image: var(--bg-1199, var(--background-image));
    }

    #n-009a5a31-8b0a-40c0-832d-aeba1a0e5a45 {
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 1024px;
        height: 608px;
    }
}

@media screen and (max-width: 1023px) {
    #n-81644bd5-9601-4836-8a4c-fba883fd22db {
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
    }

    #n-e1f290f0-3488-4df6-ba5a-12602ab94e00 {
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
        font-size: 100px;
    }

    #n-cbf488e5-7ccb-4ca5-9578-1aef312ab1b1 {
        top: 1712px;
        left: 442px;
        width: 238px;
        height: 226px;
    }

    #n-af9ede19-2908-42b3-b699-586168a22eab {
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 70px;
        animation-duration: 1s;
        left: 80px;
        width: 980px;
        font-size: 60px;
        font-style: normal;
        top: 358px;
        height: 278px;
    }

    #n-06f6c794-5a18-46ff-9143-e216cb1bc980 {
        top: 0px;
        left: -259px;
        width: 1183px;
        height: 1906px;
        transform: rotate(58deg);
    }

    #n-ba44d84b-b584-4331-8045-4cb4a07aa9a9 {
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
    }

    #n-7082af13-6e15-454c-a021-03aca37d4cd1 {
        border-top-right-radius: 20px;
        --normal-border: 1px solid rgba(33, 33, 33, 1);
        --hover-background-color: rgba(238, 238, 238, 1);
        left: 235px;
        width: 672px;
        font-style: normal;
        border-bottom-right-radius: 20px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        --normal-color: rgba(33, 33, 33, 1);
        border-top-left-radius: 20px;
        font-weight: 400;
        line-height: 40px;
        animation-duration: 1s;
        --normal-background-color: rgba(255, 255, 255, 1);
        border-bottom-left-radius: 20px;
        top: 1000px;
        height: 115px;
        font-size: 50px;
    }

    #n-929d1359-af95-45dc-90c9-603d3739ad0f {
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
    }

    #n-f107ea2b-0684-4798-88cf-f768c3b6c5ca {
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
    }

    #n-eb775b20-4dd3-4015-935c-1f0c43f5fb1d {
        top: 1417px;
        left: 127px;
        width: 887px;
        height: 65px;
        animation-duration: 1s;
    }

    #n-9ef34434-c4b4-48eb-997a-9d6649c92124 {
        top: 709px;
        left: 431px;
        width: 300px;
        height: 107px;
        animation-duration: 1s;
    }

    #n-800ab394-ed65-4690-b896-de1d47df9335 {
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
    }

    #n-009a5a31-8b0a-40c0-832d-aeba1a0e5a45 {
        width: 768px;
        height: 631px;
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #n-498ae0a2-e64b-4f17-bd17-a2e2339fc3b5 {
        animation-duration: 1s;
        top: 64px;
        left: 15px;
        width: 1060px;
        height: 257px;
    }

    #n-e294d1ec-c428-4ea1-9724-bb07ba17f0fb {
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
    }

    #n-4c888ea2-6b3a-49d3-ae55-7ab9b3a62640 {
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
    }

    #n-ab5ed4c1-ccaf-4220-97bb-645cf727afb6 {
        width: 919px;
        font-weight: 400;
        animation-duration: 1s;
        top: 794px;
        height: 139px;
        font-size: 60px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 70px;
        left: 111px;
    }

    #n-44af879c-bfc8-4893-8dd8-8d375fdf0540 {
        background-image: var(--bg-1023, var(--background-image));
    }

    #n-c6f125f2-9786-4ee4-ac13-9fad671ebb0b {
        overflow: hidden;
    }

    #n-4ab8260e-94e1-4528-a5ab-d6849c56a21b {
        height: 100px;
        animation-duration: 1s;
        top: 1533px;
        left: 205px;
        width: 731px;
    }
}

@media screen and (max-width: 767px) {
    #n-f107ea2b-0684-4798-88cf-f768c3b6c5ca {
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
    }

    #n-e1f290f0-3488-4df6-ba5a-12602ab94e00 {
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
        font-size: 100px;
        font-style: normal;
    }

    #n-44af879c-bfc8-4893-8dd8-8d375fdf0540 {
        background-image: var(--bg-767, var(--background-image));
    }

    #n-ba44d84b-b584-4331-8045-4cb4a07aa9a9 {
        line-height: 110px;
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
    }

    #n-498ae0a2-e64b-4f17-bd17-a2e2339fc3b5 {
        left: 15px;
        width: 1060px;
        height: 257px;
        animation-duration: 1s;
        top: 64px;
    }

    #n-eb775b20-4dd3-4015-935c-1f0c43f5fb1d {
        top: 1417px;
        left: 127px;
        width: 887px;
        height: 65px;
        animation-duration: 1s;
    }

    #n-9ef34434-c4b4-48eb-997a-9d6649c92124 {
        animation-duration: 1s;
        top: 709px;
        left: 431px;
        width: 300px;
        height: 107px;
    }

    #n-81644bd5-9601-4836-8a4c-fba883fd22db {
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
    }

    #n-cbf488e5-7ccb-4ca5-9578-1aef312ab1b1 {
        left: 442px;
        width: 238px;
        height: 226px;
        top: 1712px;
    }

    #n-af9ede19-2908-42b3-b699-586168a22eab {
        line-height: 70px;
        top: 358px;
        left: 80px;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        width: 980px;
        height: 278px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
    }

    #n-ab5ed4c1-ccaf-4220-97bb-645cf727afb6 {
        height: 139px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        top: 794px;
        width: 919px;
        font-size: 60px;
        font-style: normal;
        line-height: 70px;
        animation-duration: 1s;
        left: 111px;
    }

    #n-06f6c794-5a18-46ff-9143-e216cb1bc980 {
        transform: rotate(58deg);
        top: 1104px;
        left: -259px;
        width: 1183px;
        height: 1906px;
    }

    #n-e294d1ec-c428-4ea1-9724-bb07ba17f0fb {
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
    }

    #n-009a5a31-8b0a-40c0-832d-aeba1a0e5a45 {
        height: 455px;
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 667px;
    }

    #n-4ab8260e-94e1-4528-a5ab-d6849c56a21b {
        left: 100px;
        width: 731px;
        height: 237px;
        animation-duration: 1s;
        top: 1533px;
    }

    #n-929d1359-af95-45dc-90c9-603d3739ad0f {
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
    }

    #n-800ab394-ed65-4690-b896-de1d47df9335 {
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
    }

    #n-4c888ea2-6b3a-49d3-ae55-7ab9b3a62640 {
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
    }

    #n-7082af13-6e15-454c-a021-03aca37d4cd1 {
        --hover-background-color: rgba(238, 238, 238, 1);
        height: 115px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        --normal-color: rgba(33, 33, 33, 1);
        border-top-right-radius: 20px;
        top: 1000px;
        width: 672px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 50px;
        font-weight: 400;
        --normal-background-color: rgba(255, 255, 255, 1);
        left: 235px;
        line-height: 40px;
        --normal-border: 1px solid rgba(33, 33, 33, 1);
        animation-duration: 1s;
    }

    #n-c6f125f2-9786-4ee4-ac13-9fad671ebb0b {
        overflow: hidden;
    }
}

@media screen and (max-width: 666px) {
    #n-06f6c794-5a18-46ff-9143-e216cb1bc980 {
        height: 0px;
        transform: rotate(58deg);
        top: 1104px;
        left: -259px;
        width: 1183px;
    }

    #n-81644bd5-9601-4836-8a4c-fba883fd22db {
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
    }

    #n-ba44d84b-b584-4331-8045-4cb4a07aa9a9 {
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
        font-size: 100px;
        font-style: normal;
    }

    #n-800ab394-ed65-4690-b896-de1d47df9335 {
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
    }

    #n-e1f290f0-3488-4df6-ba5a-12602ab94e00 {
        line-height: 110px;
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
    }

    #n-4c888ea2-6b3a-49d3-ae55-7ab9b3a62640 {
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
        font-style: normal;
    }

    #n-7082af13-6e15-454c-a021-03aca37d4cd1 {
        left: 235px;
        font-size: 50px;
        font-weight: 400;
        line-height: 40px;
        --normal-color: rgba(33, 33, 33, 1);
        --normal-background-color: rgba(255, 255, 255, 1);
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        top: 1000px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
        --hover-background-color: rgba(238, 238, 238, 1);
        width: 672px;
        height: 115px;
        --normal-border: 1px solid rgba(33, 33, 33, 1);
        border-bottom-right-radius: 20px;
    }

    #n-498ae0a2-e64b-4f17-bd17-a2e2339fc3b5 {
        height: 257px;
        animation-duration: 1s;
        top: 64px;
        left: 15px;
        width: 1060px;
    }

    #n-9ef34434-c4b4-48eb-997a-9d6649c92124 {
        height: 107px;
        animation-duration: 1s;
        top: 709px;
        left: 431px;
        width: 300px;
    }

    #n-f107ea2b-0684-4798-88cf-f768c3b6c5ca {
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 110px;
    }

    #n-cbf488e5-7ccb-4ca5-9578-1aef312ab1b1 {
        top: 1712px;
        left: 442px;
        width: 238px;
        height: 226px;
    }

    #n-44af879c-bfc8-4893-8dd8-8d375fdf0540 {
        background-image: var(--bg-666, var(--background-image));
    }

    #n-e294d1ec-c428-4ea1-9724-bb07ba17f0fb {
        line-height: 110px;
        font-size: 100px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
    }

    #n-929d1359-af95-45dc-90c9-603d3739ad0f {
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
        color: rgba(33, 33, 33, 1);
        font-size: 50px;
    }

    #n-eb775b20-4dd3-4015-935c-1f0c43f5fb1d {
        animation-duration: 1s;
        top: 1417px;
        left: 127px;
        width: 887px;
        height: 65px;
    }

    #n-4ab8260e-94e1-4528-a5ab-d6849c56a21b {
        left: 100px;
        width: 731px;
        height: 237px;
        animation-duration: 1s;
        top: 1533px;
    }

    #n-af9ede19-2908-42b3-b699-586168a22eab {
        width: 980px;
        font-weight: 400;
        line-height: 70px;
        top: 358px;
        left: 80px;
        height: 278px;
        font-size: 60px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
    }

    #n-ab5ed4c1-ccaf-4220-97bb-645cf727afb6 {
        top: 794px;
        left: 111px;
        width: 919px;
        height: 139px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
        font-size: 60px;
        font-weight: 400;
        line-height: 70px;
    }

    #n-c6f125f2-9786-4ee4-ac13-9fad671ebb0b {
        overflow: hidden;
    }

    #n-009a5a31-8b0a-40c0-832d-aeba1a0e5a45 {
        height: 504px;
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 360px;
    }
}