#n-8abb5fed-621d-4a2b-a9cd-1b455ef10463 {
    left: 588px;
    width: 489px;
    font-style: normal;
    text-align: left;
    animation-duration: 1s;
    top: 1658px;
    height: 69px;
    font-size: 60px;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    line-height: 70px;
}

#n-a412c776-d628-4827-9311-53bf10201f01 {
    background-image: var(--bg-1920, var(--background-image));
}

#n-f9e05afc-7218-4225-80a1-3db395bf795b {
    top: 433px;
    left: 30px;
    width: 1030px;
    height: 282px;
    animation-duration: 1s;
}

#n-d6ed179f-9b2e-47bc-afb5-9a93e2e77c9e {
    top: 1047px;
    left: 402px;
    width: 154px;
    height: 152px;
    animation-duration: 1s;
}

#n-cddc0b50-547a-4c7f-abc8-d97a45ba69a2 {
    font-style: normal;
    text-align: left;
    font-family: "Zen Kurenaido", var(--sans-serif);
    line-height: 60px;
    font-size: 50px;
    left: 588px;
    width: 489px;
    height: 60px;
    font-weight: 400;
    animation-duration: 1s;
    top: 893px;
}

#n-5e5f058d-03e7-421a-bc14-a1f834fb739d {
    top: 1333px;
    left: 402px;
    width: 154px;
    height: 152px;
    animation-duration: 1s;
}

#n-a8e8c1c7-8fdf-498e-a89f-d7e0e5adbb61 {
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    left: 585px;
    height: 69px;
    font-size: 60px;
    text-align: left;
    font-family: "Zen Kurenaido", var(--sans-serif);
    animation-duration: 1s;
    top: 809px;
    width: 523px;
}

#n-a95427e5-4681-4f8d-aac1-26ce0e7104f3 {
    line-height: 70px;
    top: 1081px;
    left: 585px;
    height: 139px;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    width: 489px;
    font-size: 60px;
    font-style: normal;
    text-align: left;
    animation-duration: 1s;
}

#n-27bec915-5007-45a6-a35f-223292b327fd {
    top: 1741px;
    width: 517px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    animation-duration: 1s;
    left: 585px;
    height: 180px;
    font-size: 50px;
    text-align: left;
    font-family: "Zen Kurenaido", var(--sans-serif);
}

#n-571c4d5d-0236-4682-beed-a2c36b96f3d4 {
    width: 1140px;
    height: 1978px;
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#n-bab611d6-5935-42c2-a992-923d01c8fff1 {
    left: 80px;
    width: 980px;
    font-size: 70px;
    font-style: normal;
    font-family: "Zen Kurenaido", var(--sans-serif);
    font-weight: 400;
    top: 107px;
    height: 240px;
    line-height: 80px;
    animation-duration: 1s;
}

#n-8e06a0c8-e882-4d95-a045-2a7734b2c601 {
    left: 402px;
    width: 154px;
    height: 152px;
    animation-duration: 1s;
    top: 769px;
}

#n-cae97dd2-8666-4fcf-9fab-ff3d5d55d165 {
    font-size: 60px;
    text-align: left;
    font-family: "Zen Kurenaido", var(--sans-serif);
    animation-duration: 1s;
    top: 1369px;
    left: 585px;
    width: 489px;
    height: 69px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}

#n-48bb94a6-c891-43b1-a967-efe80127e2bf {
    top: 7px;
    left: 80px;
    width: 985px;
    height: 66px;
    animation-duration: 1s;
}

#n-0d35c867-3589-43e1-af1a-b87f65a8c92c {
    top: 1369px;
    left: 62px;
    width: 300px;
    height: 79px;
    animation-duration: 1s;
}

#n-90122e16-6c9f-49bc-836f-2e85c42d60af {
    height: 152px;
    animation-duration: 1s;
    top: 1624px;
    left: 402px;
    width: 154px;
}

#n-69c1eb52-0004-4bc7-89df-39fe357a61b1 {
    top: 811px;
    left: 62px;
    width: 300px;
    height: 75px;
    animation-duration: 1s;
}

#n-48c283c2-5376-4330-92d8-f110ee7c1246 {
    width: 300px;
    height: 76px;
    animation-duration: 1s;
    top: 1087px;
    left: 62px;
}

#n-4a643b3a-c970-4552-8958-afefd25c7ba2 {
    top: 1663px;
    left: 62px;
    width: 300px;
    height: 74px;
    animation-duration: 1s;
}

@media screen and (max-width: 1199px) {
    #n-48bb94a6-c891-43b1-a967-efe80127e2bf {
        animation-duration: 1s;
        top: 7px;
        left: 80px;
        width: 985px;
        height: 66px;
    }

    #n-8e06a0c8-e882-4d95-a045-2a7734b2c601 {
        width: 154px;
        height: 152px;
        animation-duration: 1s;
        top: 769px;
        left: 402px;
    }

    #n-a8e8c1c7-8fdf-498e-a89f-d7e0e5adbb61 {
        left: 585px;
        width: 523px;
        font-size: 60px;
        font-style: normal;
        text-align: left;
        font-weight: 400;
        top: 809px;
        height: 69px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 70px;
        animation-duration: 1s;
    }

    #n-cae97dd2-8666-4fcf-9fab-ff3d5d55d165 {
        left: 585px;
        width: 489px;
        height: 69px;
        text-align: left;
        font-weight: 400;
        animation-duration: 1s;
        top: 1369px;
        font-size: 60px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 70px;
    }

    #n-a412c776-d628-4827-9311-53bf10201f01 {
        background-image: var(--bg-1199, var(--background-image));
    }

    #n-cddc0b50-547a-4c7f-abc8-d97a45ba69a2 {
        width: 489px;
        font-size: 50px;
        font-style: normal;
        line-height: 60px;
        left: 588px;
        height: 60px;
        text-align: left;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        animation-duration: 1s;
        top: 893px;
    }

    #n-bab611d6-5935-42c2-a992-923d01c8fff1 {
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        animation-duration: 1s;
        left: 80px;
        width: 980px;
        font-size: 70px;
        line-height: 80px;
        top: 107px;
        height: 240px;
    }

    #n-f9e05afc-7218-4225-80a1-3db395bf795b {
        top: 433px;
        left: 30px;
        width: 1030px;
        height: 282px;
        animation-duration: 1s;
    }

    #n-69c1eb52-0004-4bc7-89df-39fe357a61b1 {
        height: 75px;
        animation-duration: 1s;
        top: 811px;
        left: 62px;
        width: 300px;
    }

    #n-48c283c2-5376-4330-92d8-f110ee7c1246 {
        top: 1087px;
        left: 62px;
        width: 300px;
        height: 76px;
        animation-duration: 1s;
    }

    #n-4a643b3a-c970-4552-8958-afefd25c7ba2 {
        width: 300px;
        height: 74px;
        animation-duration: 1s;
        top: 1663px;
        left: 62px;
    }

    #n-5e5f058d-03e7-421a-bc14-a1f834fb739d {
        width: 154px;
        height: 152px;
        animation-duration: 1s;
        top: 1333px;
        left: 402px;
    }

    #n-d6ed179f-9b2e-47bc-afb5-9a93e2e77c9e {
        animation-duration: 1s;
        top: 1047px;
        left: 402px;
        width: 154px;
        height: 152px;
    }

    #n-90122e16-6c9f-49bc-836f-2e85c42d60af {
        top: 1624px;
        left: 402px;
        width: 154px;
        height: 152px;
        animation-duration: 1s;
    }

    #n-a95427e5-4681-4f8d-aac1-26ce0e7104f3 {
        height: 139px;
        text-align: left;
        font-weight: 400;
        animation-duration: 1s;
        top: 1081px;
        left: 585px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 70px;
        width: 489px;
        font-size: 60px;
    }

    #n-571c4d5d-0236-4682-beed-a2c36b96f3d4 {
        width: 1024px;
        height: 608px;
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #n-0d35c867-3589-43e1-af1a-b87f65a8c92c {
        top: 1369px;
        left: 62px;
        width: 300px;
        height: 79px;
        animation-duration: 1s;
    }

    #n-8abb5fed-621d-4a2b-a9cd-1b455ef10463 {
        font-style: normal;
        text-align: left;
        font-weight: 400;
        animation-duration: 1s;
        top: 1658px;
        left: 588px;
        width: 489px;
        height: 69px;
        font-size: 60px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 70px;
    }

    #n-27bec915-5007-45a6-a35f-223292b327fd {
        height: 180px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        top: 1741px;
        left: 585px;
        font-style: normal;
        text-align: left;
        font-weight: 400;
        line-height: 60px;
        animation-duration: 1s;
        width: 517px;
        font-size: 50px;
    }
}

@media screen and (max-width: 1023px) {
    #n-8e06a0c8-e882-4d95-a045-2a7734b2c601 {
        animation-duration: 1s;
        top: 769px;
        left: 402px;
        width: 154px;
        height: 152px;
    }

    #n-d6ed179f-9b2e-47bc-afb5-9a93e2e77c9e {
        height: 152px;
        animation-duration: 1s;
        top: 1047px;
        left: 402px;
        width: 154px;
    }

    #n-48bb94a6-c891-43b1-a967-efe80127e2bf {
        top: 7px;
        left: 80px;
        width: 985px;
        height: 66px;
        animation-duration: 1s;
    }

    #n-cae97dd2-8666-4fcf-9fab-ff3d5d55d165 {
        font-size: 60px;
        text-align: left;
        font-weight: 400;
        line-height: 70px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
        top: 1369px;
        left: 585px;
        width: 489px;
        height: 69px;
    }

    #n-8abb5fed-621d-4a2b-a9cd-1b455ef10463 {
        font-style: normal;
        font-weight: 400;
        width: 489px;
        font-size: 60px;
        height: 69px;
        text-align: left;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 70px;
        animation-duration: 1s;
        top: 1658px;
        left: 588px;
    }

    #n-a412c776-d628-4827-9311-53bf10201f01 {
        background-image: var(--bg-1023, var(--background-image));
    }

    #n-571c4d5d-0236-4682-beed-a2c36b96f3d4 {
        width: 768px;
        height: 631px;
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #n-4a643b3a-c970-4552-8958-afefd25c7ba2 {
        height: 74px;
        animation-duration: 1s;
        top: 1663px;
        left: 62px;
        width: 300px;
    }

    #n-cddc0b50-547a-4c7f-abc8-d97a45ba69a2 {
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 60px;
        top: 893px;
        left: 588px;
        width: 489px;
        font-style: normal;
        text-align: left;
        height: 60px;
        font-size: 50px;
        font-weight: 400;
        animation-duration: 1s;
    }

    #n-a95427e5-4681-4f8d-aac1-26ce0e7104f3 {
        top: 1081px;
        left: 585px;
        height: 139px;
        font-size: 60px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        width: 489px;
        text-align: left;
        font-weight: 400;
        line-height: 70px;
        animation-duration: 1s;
    }

    #n-5e5f058d-03e7-421a-bc14-a1f834fb739d {
        top: 1333px;
        left: 402px;
        width: 154px;
        height: 152px;
        animation-duration: 1s;
    }

    #n-90122e16-6c9f-49bc-836f-2e85c42d60af {
        animation-duration: 1s;
        top: 1624px;
        left: 402px;
        width: 154px;
        height: 152px;
    }

    #n-a8e8c1c7-8fdf-498e-a89f-d7e0e5adbb61 {
        width: 523px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
        text-align: left;
        font-weight: 400;
        line-height: 70px;
        top: 809px;
        left: 585px;
        height: 69px;
        font-size: 60px;
        font-style: normal;
    }

    #n-bab611d6-5935-42c2-a992-923d01c8fff1 {
        line-height: 80px;
        left: 80px;
        width: 980px;
        font-size: 70px;
        font-style: normal;
        animation-duration: 1s;
        top: 107px;
        height: 240px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
    }

    #n-f9e05afc-7218-4225-80a1-3db395bf795b {
        width: 1030px;
        height: 282px;
        animation-duration: 1s;
        top: 433px;
        left: 30px;
    }

    #n-69c1eb52-0004-4bc7-89df-39fe357a61b1 {
        animation-duration: 1s;
        top: 811px;
        left: 62px;
        width: 300px;
        height: 75px;
    }

    #n-48c283c2-5376-4330-92d8-f110ee7c1246 {
        top: 1087px;
        left: 62px;
        width: 300px;
        height: 76px;
        animation-duration: 1s;
    }

    #n-0d35c867-3589-43e1-af1a-b87f65a8c92c {
        top: 1369px;
        left: 62px;
        width: 300px;
        height: 79px;
        animation-duration: 1s;
    }

    #n-27bec915-5007-45a6-a35f-223292b327fd {
        left: 585px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
        line-height: 60px;
        top: 1741px;
        width: 517px;
        height: 180px;
        font-size: 50px;
        text-align: left;
        font-weight: 400;
    }
}

@media screen and (max-width: 767px) {
    #n-48c283c2-5376-4330-92d8-f110ee7c1246 {
        height: 76px;
        animation-duration: 1s;
        top: 1087px;
        left: 62px;
        width: 300px;
    }

    #n-d6ed179f-9b2e-47bc-afb5-9a93e2e77c9e {
        top: 1047px;
        left: 402px;
        width: 154px;
        height: 152px;
        animation-duration: 1s;
    }

    #n-a95427e5-4681-4f8d-aac1-26ce0e7104f3 {
        top: 1081px;
        left: 585px;
        width: 489px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 70px;
        animation-duration: 1s;
        height: 139px;
        font-size: 60px;
        font-style: normal;
        text-align: left;
        font-weight: 400;
    }

    #n-cddc0b50-547a-4c7f-abc8-d97a45ba69a2 {
        left: 588px;
        height: 60px;
        font-size: 50px;
        font-style: normal;
        animation-duration: 1s;
        top: 893px;
        width: 489px;
        text-align: left;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        line-height: 60px;
    }

    #n-cae97dd2-8666-4fcf-9fab-ff3d5d55d165 {
        line-height: 70px;
        animation-duration: 1s;
        top: 1369px;
        left: 585px;
        width: 489px;
        height: 69px;
        font-size: 60px;
        font-style: normal;
        text-align: left;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
    }

    #n-8abb5fed-621d-4a2b-a9cd-1b455ef10463 {
        left: 588px;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 70px;
        animation-duration: 1s;
        top: 1658px;
        width: 489px;
        height: 69px;
        text-align: left;
        font-family: "Zen Kurenaido", var(--sans-serif);
    }

    #n-571c4d5d-0236-4682-beed-a2c36b96f3d4 {
        padding-bottom: 0px;
        width: 667px;
        height: 455px;
        min-height: 0px;
        padding-top: 0px;
    }

    #n-f9e05afc-7218-4225-80a1-3db395bf795b {
        left: 30px;
        width: 1030px;
        height: 282px;
        animation-duration: 1s;
        top: 433px;
    }

    #n-8e06a0c8-e882-4d95-a045-2a7734b2c601 {
        width: 154px;
        height: 152px;
        animation-duration: 1s;
        top: 769px;
        left: 402px;
    }

    #n-69c1eb52-0004-4bc7-89df-39fe357a61b1 {
        left: 62px;
        width: 300px;
        height: 75px;
        animation-duration: 1s;
        top: 811px;
    }

    #n-90122e16-6c9f-49bc-836f-2e85c42d60af {
        top: 1624px;
        left: 402px;
        width: 154px;
        height: 152px;
        animation-duration: 1s;
    }

    #n-a412c776-d628-4827-9311-53bf10201f01 {
        background-image: var(--bg-767, var(--background-image));
    }

    #n-bab611d6-5935-42c2-a992-923d01c8fff1 {
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        animation-duration: 1s;
        font-size: 70px;
        left: 80px;
        width: 980px;
        height: 240px;
        line-height: 80px;
        top: 107px;
    }

    #n-48bb94a6-c891-43b1-a967-efe80127e2bf {
        left: 80px;
        width: 985px;
        height: 66px;
        animation-duration: 1s;
        top: 7px;
    }

    #n-0d35c867-3589-43e1-af1a-b87f65a8c92c {
        width: 300px;
        height: 79px;
        animation-duration: 1s;
        top: 1369px;
        left: 62px;
    }

    #n-27bec915-5007-45a6-a35f-223292b327fd {
        left: 585px;
        height: 180px;
        text-align: left;
        font-weight: 400;
        top: 1741px;
        font-size: 50px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 60px;
        animation-duration: 1s;
        width: 517px;
    }

    #n-4a643b3a-c970-4552-8958-afefd25c7ba2 {
        top: 1663px;
        left: 62px;
        width: 300px;
        height: 74px;
        animation-duration: 1s;
    }

    #n-5e5f058d-03e7-421a-bc14-a1f834fb739d {
        top: 1333px;
        left: 402px;
        width: 154px;
        height: 152px;
        animation-duration: 1s;
    }

    #n-a8e8c1c7-8fdf-498e-a89f-d7e0e5adbb61 {
        left: 585px;
        font-weight: 400;
        top: 809px;
        width: 523px;
        height: 69px;
        font-size: 60px;
        font-style: normal;
        text-align: left;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 70px;
        animation-duration: 1s;
    }
}

@media screen and (max-width: 666px) {
    #n-cae97dd2-8666-4fcf-9fab-ff3d5d55d165 {
        width: 489px;
        height: 69px;
        text-align: left;
        line-height: 70px;
        top: 1369px;
        left: 585px;
        font-size: 60px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        animation-duration: 1s;
    }

    #n-bab611d6-5935-42c2-a992-923d01c8fff1 {
        animation-duration: 1s;
        top: 107px;
        font-size: 70px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        line-height: 80px;
        font-weight: 400;
        left: 80px;
        width: 980px;
        height: 240px;
        font-style: normal;
    }

    #n-f9e05afc-7218-4225-80a1-3db395bf795b {
        height: 282px;
        animation-duration: 1s;
        top: 433px;
        left: 30px;
        width: 1030px;
    }

    #n-69c1eb52-0004-4bc7-89df-39fe357a61b1 {
        height: 75px;
        animation-duration: 1s;
        top: 811px;
        left: 62px;
        width: 300px;
    }

    #n-48c283c2-5376-4330-92d8-f110ee7c1246 {
        width: 300px;
        height: 76px;
        animation-duration: 1s;
        top: 1087px;
        left: 62px;
    }

    #n-0d35c867-3589-43e1-af1a-b87f65a8c92c {
        left: 62px;
        width: 300px;
        height: 79px;
        animation-duration: 1s;
        top: 1369px;
    }

    #n-d6ed179f-9b2e-47bc-afb5-9a93e2e77c9e {
        height: 152px;
        animation-duration: 1s;
        top: 1047px;
        left: 402px;
        width: 154px;
    }

    #n-5e5f058d-03e7-421a-bc14-a1f834fb739d {
        top: 1333px;
        left: 402px;
        width: 154px;
        height: 152px;
        animation-duration: 1s;
    }

    #n-8abb5fed-621d-4a2b-a9cd-1b455ef10463 {
        top: 1658px;
        width: 489px;
        font-size: 60px;
        font-style: normal;
        text-align: left;
        line-height: 70px;
        left: 588px;
        height: 69px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        animation-duration: 1s;
    }

    #n-571c4d5d-0236-4682-beed-a2c36b96f3d4 {
        height: 504px;
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 360px;
    }

    #n-a95427e5-4681-4f8d-aac1-26ce0e7104f3 {
        left: 585px;
        width: 489px;
        font-size: 60px;
        text-align: left;
        line-height: 70px;
        top: 1081px;
        height: 139px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        font-weight: 400;
        animation-duration: 1s;
    }

    #n-48bb94a6-c891-43b1-a967-efe80127e2bf {
        width: 985px;
        height: 66px;
        animation-duration: 1s;
        top: 7px;
        left: 80px;
    }

    #n-90122e16-6c9f-49bc-836f-2e85c42d60af {
        top: 1624px;
        left: 402px;
        width: 154px;
        height: 152px;
        animation-duration: 1s;
    }

    #n-cddc0b50-547a-4c7f-abc8-d97a45ba69a2 {
        font-style: normal;
        text-align: left;
        font-weight: 400;
        animation-duration: 1s;
        width: 489px;
        height: 60px;
        font-size: 50px;
        line-height: 60px;
        top: 893px;
        left: 588px;
        font-family: "Zen Kurenaido", var(--sans-serif);
    }

    #n-a412c776-d628-4827-9311-53bf10201f01 {
        background-image: var(--bg-666, var(--background-image));
    }

    #n-8e06a0c8-e882-4d95-a045-2a7734b2c601 {
        top: 769px;
        left: 402px;
        width: 154px;
        height: 152px;
        animation-duration: 1s;
    }

    #n-4a643b3a-c970-4552-8958-afefd25c7ba2 {
        height: 74px;
        animation-duration: 1s;
        top: 1663px;
        left: 62px;
        width: 300px;
    }

    #n-a8e8c1c7-8fdf-498e-a89f-d7e0e5adbb61 {
        line-height: 70px;
        left: 585px;
        font-size: 60px;
        font-style: normal;
        text-align: left;
        font-weight: 400;
        top: 809px;
        width: 523px;
        height: 69px;
        font-family: "Zen Kurenaido", var(--sans-serif);
        animation-duration: 1s;
    }

    #n-27bec915-5007-45a6-a35f-223292b327fd {
        height: 180px;
        font-style: normal;
        font-family: "Zen Kurenaido", var(--sans-serif);
        top: 1741px;
        width: 517px;
        font-size: 50px;
        text-align: left;
        font-weight: 400;
        line-height: 60px;
        animation-duration: 1s;
        left: 585px;
    }
}